.input-field {
    width: 100%;

    p {
        margin-bottom: 1rem;
    }

    input {
        width: 100%;
        border-radius: 1.5rem;
        height: 6rem;
        padding: 0px 2rem;
        border: .1rem solid #1968DF;
        outline: none;
    }
}