.pagination-pagination {            
    display: flex;
    list-style: none;
    gap: 2rem;
    
    .pagination-page-item {
        user-select: none;
        cursor: pointer;
    }

    .pagination-active {
        font-weight: 800;
    }

    .disabled {
        cursor: default;
        pointer-events: none;
        opacity: 0.5;
    }
}